@font-face { 
    src: url('../../fonts/open_sans/OpenSans-Regular.ttf');
    font-family: opensans-regular;
}

@font-face { 
    src: url('../../fonts/open_sans/OpenSans-SemiBold.ttf');
    font-family: opensans-semibold;
}

@font-face { 
    src: url('../../fonts/open_sans/OpenSans-Bold.ttf');
    font-family: opensans-bold;
}