.main-area .row {
    margin: 25% 0;
}

.main-portfolio .row .col-lg-5 h1{
    margin: 25% 0; 
    
}

.main-portfolio .row .col-lg-7 {
    background-color: var(--primary-color);
    padding: 5em;
    color: whitesmoke;
}