html, body {
  scroll-behavior: smooth;
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: var(--opensans-regular); }

:root {
  --black:#1d1d1d;
  --primary-color: red;
  --secondary-color:white;
  --tertiary-color:--black
    --unactive-color: gray;
  --opensans-regular: 'opensans-regular';
  --opensans-semibold: 'opensans-semibold';
  --opensans-bold: 'opensans-bold'; }

@font-face {
  src: url("../../fonts/open_sans/OpenSans-Regular.ttf");
  font-family: opensans-regular; }

@font-face {
  src: url("../../fonts/open_sans/OpenSans-SemiBold.ttf");
  font-family: opensans-semibold; }

@font-face {
  src: url("../../fonts/open_sans/OpenSans-Bold.ttf");
  font-family: opensans-bold; }

.navbar-area {
  background-color: var(--white); }

.navbar-area .nav-item {
  opacity: 0.6;
  transition: 0.7s;
  margin-left: 1.5em;
  font-family: var(--opensans-semibold); }

.navbar-area .active, .nav-item:hover {
  opacity: 1;
  font-family: var(--opensans-semibold); }

.navbar-area .fa {
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none; }

.main-area .row {
  margin: 25% 0; }

.main-portfolio .row .col-lg-5 h1 {
  margin: 25% 0; }

.main-portfolio .row .col-lg-7 {
  background-color: red;
  padding: 5em;
  color: whitesmoke; }
