
html, body {
    scroll-behavior: smooth;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: var(--opensans-regular);
}

:root {
    --black:#1d1d1d;
    --primary-color: red;
    --secondary-color:white;
    --tertiary-color:--black
    --unactive-color: gray;
    --opensans-regular: 'opensans-regular';
    --opensans-semibold: 'opensans-semibold';
    --opensans-bold: 'opensans-bold';
}