


:root {
    --black:#151B25;
    --primary-color: #034687;
    --secondary-color:#DBE8E1;
    --tertiary-color:#E10032;
    --unactive-color: gray;
    --opensans-regular: 'opensansRegular';
    --opensans-semibold: 'opensansSemibold';
    --opensans-bold: 'opensansBold';
}

html, body {
    scroll-behavior: smooth;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: var(--opensans-regular);
}